.app{
  width: 100%;
  height: 100%;
  @media (min-width: $tabletWidth) {
  }
  @media (min-width: $desktopWidth) {
  }
}
.navbar{
  width: 100%;
  height: 100px;
  background: $primary;
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  &__menu{
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    top: 0;
    right: 0;
    img{
      height: 100%;
      width: 100%;
    }
  }
  &__a{
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: $textWhite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__home{
    height: 100%;
    margin: 0.5rem;
    align-self: center;
    color: $textWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
  &__tabs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 1px solid #AFAFAF;
    :hover{
      background: $light;
      h4{
        color: $dark;
      }
    }
    display: none;
  }
  &__tab{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    a{
      text-decoration: none;
      color: $textWhite;
    }
  }
  @media (max-width: $tabletWidth) {
    &__tabs{
      flex-grow: 2;
    }
  }
  @media (min-width: $tabletWidth) {
    padding: 0 $tabletPad;
    flex-direction: row;
    justify-content: flex-start;
    &__menu{
      display: none;
    }
    &__home{
      height: 30px;
      h1{
        display: none;
      }
      img{
        display: block;
      }
    }
    &__tabs{
      flex-direction: row;
      justify-content: flex-start;
      border: none;
      display: flex;
    }
    &__tab{
      width: 120px;
      a{
        padding: 0.5rem 0;
      }
      &--selected{
        border-top: 3px solid $primary;
        a{
          border-bottom: 6px solid #FAFAFA;
        }
      }
    }
  }
  @media (min-width: $desktopWidth) {
    padding: 0 $desktopPad;
  }
}
.menu{
  background: $light;
  border: 3px solid $dark;
  border-radius: 0 4px 4px 4px;
  width: 50%;
  height: auto;
  position: fixed;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: moveInTop 0.3s ease-in-out;
  transition: all;
  &__title{
    align-self: center;
    font-size: 2rem;
  }
  &__list{
    list-style: none;
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      color: $dark;
    }
    button{
      text-decoration: none;
      color: black;
      width: 100%;
      background: grey;
      border: none;
    }
    a{
      margin-top: 1rem;
    }
    li{
      background: $primary;
      color: white;
      font-weight: 700;
      border: 1px solid $dark;
      border-radius: 4px;
      padding: 0.25rem 0;
      text-align: center;
      font-size: 1.1rem;
    }
  }
  @media (min-width: $tabletWidth) {
    display: none;
  }
}
.home{
  padding-top: 100px;
  &__hero{
    position: relative;
    height: 20rem;
    img{
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(1.5px);
    }
  }
  &__herotext{
    margin: 1rem;
    padding-bottom: 1rem;
    animation-name: heroBackLanding;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 1rem;
    text-align: start;
    position: absolute;
    h1{
      margin: 1rem;
      @include mobileHeader();
      position: relative;
      animation-name: heroLanding;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
    ul{
      position: relative;
      margin: 0 1.75rem;
      list-style: none;
      @include mobileSubheader();
      opacity: 0;
      animation-name: heroSubLanding;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }
  }
  &__infoContainer{
    background: $light;
    padding: $mobilePad;
    h3{
      @include mobileHeaderSmall();
      text-align: center;
    }
  }
  &__infoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__story{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 32rem;
    p{
      @include mobileParagraph();
      margin-top: 1rem;
    }
  }
  &__images{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    img{
      width: 10rem;
      height: 10rem;
      object-fit: contain;
    }
  }
  @media (min-width: $tabletWidth) {
    &__herotext{
      margin: $tabletPad;
      h1{
        @include dtHeroHeader();
      }
      ul{
        @include dtHeaderSmall();
      }
    }
    &__infoContainer{
      padding: $mobilePad $tabletPad;
      h3{
        @include dtHeader();
      }
    }
    &__infoBlock{
      flex-direction: row;
      justify-content: center;
    }
    &__story{
      p{
        @include dtParagraph();
      }
    }
    &__images{
      flex-direction: column;
      align-items: center;
      max-width: 12rem;
    }
  }
  @media (min-width: $desktopWidth) {
    &__herotext{
      margin: $tabletPad $desktopPad;
    }
    &__infoBlock{
      padding: $mobilePad $desktopPad;
    }
  }
}
.projects{
  width: 100%;
  padding-top: 100px;
  min-height: 100vh;
  &__hero{
    position: relative;
    height: 15rem;
    img{
      z-index: -1;
      position: absolute;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      filter: blur(1.5px);
    }
    h2{
      @include mobileHeader();
      text-align: center;
      position: relative;
      padding: 1rem 1.75rem;
      animation: projectHeroLanding 1s ease-in-out forwards;
    }
  }
  &__cards{
    padding: 0 $mobilePad $mobilePad $mobilePad;
  }
  @media (min-width: $tabletWidth) {
    &__cards{
      padding: 0 $tabletPad $tabletPad $tabletPad;
    }
    &__hero{
      height: 25rem;
      h2{
        @include dtHeroHeader();
      }
    }
  }
  @media (min-width: $desktopWidth) {
    &__hero{
      height: 30rem;
    }
    &__cards{
      padding: 0 $desktopPad $tabletPad $desktopPad;
    }
  }
}
.projectCard{
  width: 100%;
  border: 2px solid $dark;
  border-radius: 4px;
  background: $backWhite;
  margin: 1rem 0;
  h1{
    text-align: center;
    @include mobileHeaderSmall();
    padding-bottom: 0.5rem;
  }
  &--caption{
    padding: 0.5rem;
    h4{
      @include mobileSubheader();
      padding-bottom: 1px;
      border-bottom: 1px solid black;
    }
    p{
      @include mobileParagraph();
    }
  }
  .carousel{
    display: none;
  }
  .carousel-slider{
    display:block;
    img{
      max-height: 15rem;
      object-fit: contain;
    }
  }
  @media (min-width: $tabletWidth) {
    margin: 2.5rem 0;
    .carousel-slider{
      img{
        max-height: 25rem;
        object-fit: contain;
      }
    }
  }
  @media (min-width: $desktopWidth) {
    
  }
}

.hobbies{
  width: 100%;
  padding-top: 100px;
  min-height: 100vh;
  &__hero{
    position: relative;
    height: 15rem;
    img{
      z-index: -1;
      position: absolute;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      filter: blur(1px);
    }
    h2{
      @include mobileHeader();
      text-align: center;
      position: relative;
      padding: 1rem 1.75rem;
      animation: projectHeroLanding 1s ease-in-out forwards;
    }
  }
  &__main{
    padding: 0 $mobilePad $mobilePad $mobilePad;
  }
  h3{
    margin: 1rem 0;
    @include mobileHeaderSmall();
  }
  &__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    &--text{
      p{
        text-align: center;
        border: 1px solid black;
        border-radius: 1rem;
        background: $backBlack;
        color: $textWhite;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
      }
    }
    &--picture{
      height: 10rem;
      min-width: 60%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: $tabletWidth) {
    &__hero{
      height: 25rem;
      h2{
        @include dtHeroHeader();
      }
    }
    &__main{
      padding: 0 $tabletPad $tabletPad $tabletPad;
    }
    h3{
      @include dtHeader();
    }
    &__card{
      flex-direction: row;
      justify-content: space-between;
      &--text{
        margin: 0 0.5rem;
      }
      &--picture{
        width: 60%;
        height: 15rem;
      }
    }
  }
  @media (min-width: $desktopWidth) {
    &__hero{
      height: 30rem;
    }
    &__main{
      padding: 0 $desktopPad $tabletPad $desktopPad;
    }
  }
}
.reverse{
  @media (min-width: $tabletWidth){
    flex-direction: row-reverse;
  }
}
.contact{
  width: 100%;
  padding-top: 100px;
  min-height: 100vh;
  &__hero{
    position: relative;
    height: 15rem;
    img{
      z-index: -1;
      position: absolute;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      filter: blur(1px);
    }
    h2{
      @include mobileHeader();
      text-align: center;
      position: relative;
      padding: 1rem 1.75rem;
      animation: projectHeroLanding 1s ease-in-out forwards;
    }
  }
  &__main{
    padding: $mobilePad;
  }
  &__cards{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  &__card{
    height: 10rem;
    width: 10rem;
    margin: 0.5rem 0;
    position: relative;
    img{
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (min-width: $tabletWidth) {
    &__hero{
      height: 25rem;
      h2{
        @include dtHeroHeader();
      }
    }
    &__main{
      padding: 0 $tabletPad $tabletPad $tabletPad;
      display: flex;
      justify-content: center;
    }
    &__cards{
      flex-flow: row wrap;
      width: 44rem;
    }
    &__card{
      height: 17.5rem;
      width: 17.5rem;
      margin: 2rem;
    }
  }
  @media (min-width: $desktopWidth) {
    &__hero{
      height: 30rem;
    }
    &__main{
      padding: 0 $desktopPad $tabletPad $desktopPad;
    }
  }
}
.footer{
  background: $backBlack;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    text-align: center;
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}